*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden ;
}


main{
    min-height: 100vh;
}

.ellipse {
    background-color: #FFFFFF;
    border-radius: 100%;
    aspect-ratio: 1773 / 835;
    width: 123vw;
    position: absolute;
    z-index: 0;
}


/* 
aspect-ratio: ширина / висота -  відношення сторін, вказавши один розмір другий буде задано автоматично

overflow-x або y - вказує що буде якщо вміст елемента вийде за рамки ( scroll або hiden )

z-index - вказує який елемент буде знаходитись попереду, а який на фоні
*/